body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    color: #000;
    
    /* CONFIGURAÇÃO DE CENTRALIZAÇÃO */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza Verticalmente (Cima/Baixo) */
    align-items: center;     /* Centraliza Horizontalmente (Esquerda/Direita) */
    min-height: 100vh;       /* Garante que o body tenha a altura total da tela */
}

/* CONTEÚDO CENTRAL */
.conteudo {
    width: 100%;
    /* Removi margin-top: 120px e flex: 1 pois eles atrapalham a centralização automática */
    text-align: center;
}

/* TÍTULO */
.titulo {
    font-size: 22px;
    margin-bottom: 35px;
}

/* INPUT */
.campo-input {
    width: 450px;
    padding: 12px 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    display: block;          
    margin: 0 auto 25px auto; 
}

/* BOTÃO */
.btn-enviar {
    width: 450px; /* Mesma largura do input para ficar alinhado */
    padding: 12px;
    border: none;
    background: #262626;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    display: block;           
    margin: 0 auto;           
}