<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Oficina 360 - Login</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="container">

    <div class="left-side">
        <img src="/images/Logo-da-oficina.png" class="logo" alt="Oficina 360">
        <p class="welcome-text">Bem-vindo</p>

        <!-- Mensagens de erro ou logout -->
        <div th:if="${param.error}" class="alert alert-danger">
            Email ou senha inválidos.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            Você saiu com sucesso.
        </div>

        <!-- FORMULÁRIO DE LOGIN -->
        <form th:action="@{/oficinas/login}" method="post">
    		<input type="email" name="email" class="input-box" placeholder="Digite seu email" required>
    		<input type="password" name="senha" class="input-box" placeholder="Digite sua senha" required>

    		<div class="forgot-password">
        	<a href="#" style="color:black; text-decoration:none;">Esqueceu sua senha?</a>
    		</div>

    		<button type="submit" class="btn-login">LOGIN</button>
		</form>

        <div class="divider">
            <span></span> OU <span></span>
        </div>

        <div class="create-account">
            Não tem uma conta?
            <a href="/tipoDeContas/escolhaTipo">Criar conta</a>
        </div>
    </div>

    <div class="right-side">
        <img src="/images/Desenho da tela de login.png" alt="imagem-login">
    </div>

</div>
</body>
</html>
